.search__input {
    padding: 21px;
    width: 82%;
    font-size: 16px;
    line-height: 22px;
    border-radius: 100px;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
}

@media screen and (max-width: 620px) {
    .search__input {
        width: 100%;
        margin-bottom: 16px;
    }
}