@import url(./__container/results__container.css);
@import url(./__found/results__found.css);
@import url(./__subtitle/results__subtitle.css);
@import url(./__title/results__title.css);
.results {
    border: 1px #F5F6F7 solid;
    background: #F5F6F7;
    padding: 80px 7%;
}

@media screen and (max-width: 830px) {
    .results {
        padding: 0px 5%;
    }
}