.button__search {
    border: solid #2F71E5 1px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 32%;
    padding: 21px;
    position: absolute;
    right: 0px;
    z-index: 3;
}

@media screen and (max-width: 700px) {
    .button__search {
        width: 100%;
        position: unset;
    }
}