.button__search {
    background: #2A65CC;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 32%;
    padding: 20px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}

.button__search:hover {
    background: #347EFF;
}

@media screen and (max-width: 320px) {
    .button__search {
        width: 100%;
        position: unset;
    }
}
