.analytics__table {
    display: grid;
    grid-template-columns: 7% auto;
    grid-template-rows: 44px 40px 80px 80px 80px 80px 80px 80px 24px 40px;
}

@media screen and (max-width: 830px) {
    .analytics__table {
        display: grid;
        grid-template-columns: 14% auto;
    }
}

@media screen and (max-width: 700px) {
    .analytics__table {
        grid-template-columns: 25% auto;
    }
}