.technology__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    width: 24%;
}

@media screen and (max-width: 830px) {
    .title__technology {
        line-height: 34px;
        margin: 0px;
    }
}