@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
.footer {
    padding: 30px 7% 26px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.footer a {
    text-decoration: none;
}

@media screen and (max-width: 830px) {
    .footer {
        padding: 24px 5% 18px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding: 20px 16px 22px;
    }
}