.page__bg {
    background-image: url('../../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}