.page__bg {
    background-image: url('../../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
