.table__footer {
    display: grid;
    grid-template-columns: 7% auto;
    grid-template-rows: 40px;
}

@media screen and (max-width: 1024px) {
    .table__footer {
        display: grid;
        grid-template-columns: 14% auto;
    }
}

@media screen and (max-width: 490px) {
    .table__footer {
        grid-template-columns: 18% auto;
    }
}

@media screen and (max-width: 320px) {
    .table__footer {
        grid-template-columns: 25% auto;
    }
}
