@import url(./_commit/cards__title_commits.css);
.cards__title {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}

@media screen and (max-width: 830px) {
    .cards__title {
        font-size: 22px;
        line-height: 24px;
    }
}