.author__title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin-top: 51px;
    margin-bottom: 24px;
}

@media screen and (max-width: 830px) {
    .author__title {
        font-size: 30px;
        line-height: 40px;
        margin-top: 0px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 700px) {
    .author__title {
        margin-top: 24px;
    }
}