.cards__link_name {
    position: absolute;
    bottom: 2%;
    left: 5%;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #B6BCBF;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}